
svg{
    height: 30px;
}
#navbar {
    position: sticky;
    display: flex;
    background-color: #efebeb;
    width: 100%;
    margin: -8px;
    top: 0;
    z-index: 10;
}
#search{
    width: 50%;
    padding-top: 2px;
}
#logo{
    width: 10%;
}
#left{
    width: 15%;
    padding-top: 8px;
    display: flex;
    justify-content: space-evenly;
}
#right{
    width: 25%;
    padding-top: 8px;
    display: flex;
    justify-content: space-evenly;
}
#search-bar{
    height: 30px;
    background-color: white;
    border-radius: 15px;
    cursor: text;
    width: 80%;
    text-align: center;
    
}
aside{
    width:20%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
}
#main-container{
    width:80%;
}
main{
    display: flex;
    height: 100vh;
}
.aside-list{
    list-style: none;
    padding-left: 0px;
}
.aside-list li{
    margin-bottom: 10px;
}
.playlist-add{
    background: none;
    border: 1px solid green;
    color: green;
    height: 32px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
}
#row-1{
    display: flex;
    justify-content: space-between;
    
}
.music-card{
    width: 16%;
   position: relative;
}
.music-info{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay:hover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background-color: black;
    opacity: 0.4;
}
footer{
    width: 100%;
    height: 110px;
    background-color: aliceblue;
    position: sticky;
    bottom: 0;
    display: flex;
}
footer img{
    height: 64px;
    width: 64px;
    margin-top: 26px;
}
#music-logo{
     width: 15%;
}

#main-controls{
    width:100%;
    height: 112%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
#inner-controls{
    height: 64px;
    width: 51%;
    display: flex;
    justify-content: space-around;
}
#side-controls{
    width: 15%;
    height: 112%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    color: grey;
}
.top-image img{
    height: 230px;
    width: 230px;
}
#col-1{
    width=70%;
    height: 410px;
    display:flex;
}
#right-col{
    width:81%;
margin-left: 20px;
}
.right-up{
    height: 48%;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}

.overlay-2{
    height: 72%;
    width: 100%;
}
.music-card-2{
    height: 100%;
    width: 34%;
    position: relative;
}
.music-image2{
     height: 100px;
    width: 166px;
  
}
#topCharts{
    display: flex;
   
}
.music-info2{
    width: 79%;
}